.logo, body {
    height: auto
}

.widgetBG, body {
    background: #181824
}

h2, p {
    margin-bottom: 0
}

.img-fluid, .loginBG {
    border-radius: 10px
}

body {
    min-width: 500px;
    max-width: 100%;
    min-height: auto
}

label {
    color: #ece4e4
}

.logo {
    width: 100px;
    margin: 50px auto 20px
}

.meter, .widgetBG {
    width: 100%
}

.packageName, h2, p {
    margin-top: 5%
}

.widgetBG {
    padding: 10px 0
}

.form-control {
    padding-top: 10px;
    color: #fff
}

.form-control:focus {
    background-color: #2e323b;
    color: #fff
}

h2 {
    font-family: "Roboto Medium", Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center
}

.packageName, .progressBalance, .progressType, p {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fff
}

.packageName {
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 10%
}

.loginBG {
    background: #191337;
    padding: 10px 0;
    margin: 10%
}

.form-control {
    width: 70%;
    height: 50px;
    background: 0 0;
    border: 1px solid #6d4dfe;
    margin: 10px 0 20px
}

.form-control::placeholder {
    color: #ece4e4;
    opacity: 50%;
    font-size: 80%
}

button {
    background: linear-gradient(to right, #4936d2, #ee0979);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0 !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 60% !important
}

.bar-in, .bar-out, .quota, .quotaGreen {
    border-radius: 30px
}

button:hover {
    opacity: .8
}

.vertical-center {
    height: 100%;
    display: flex;
    align-items: center
}

.horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.bar-out {
    margin-top: 5px;
    background-color: #0a53be;
    width: 100%;
    height: 30px;
    border-color: #fff;
    position: relative
}

.bar-in {
    color: #fff;
    background-color: #7c89f8;
    width: 75%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0
}

.quota, .quotaGreen {
    color: #fff;
    width: fit-content;
    padding: 3% 15%;
    scale: 75%
}

.quota {
    background-color: #53469c
}

.quotaGreen {
    background-color: rgba(24, 145, 162, .6)
}

.blink {
    animation: 1.5s linear infinite blinker
}

@keyframes blinker {
    50% {
        opacity: 0
    }
}

.progressAreaBG {
    background: #1d212d;
    border-radius: 10px;
    padding: 10px 0 0;
    margin: 0 30px 10px;
    scale: 100%;
    transition: .3s
}

.progressAreaBG:hover {
    background: #2f374a;
    scale: 105%;
    transition: .3s
}

.progressArea {
    scale: 90%
}

.progress {
    background-color: rgba(124, 137, 248, .3);
    border: 1px solid rgba(255, 255, 255, .05);
    height: 30px;
    align-content: start;
    border-radius: 30px
}

.progress-bar {
    background: linear-gradient(to right, #4936d2, #8f63ef);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25)
}

.progressBalance {
    margin: 5% 30px 0
}

.progressType {
    width: auto;
    margin: 4% 0;
    white-space: nowrap
}

.btnLogout {
    margin-right: 20%;
    margin-top: 5%;
    opacity: 50%;
    cursor: pointer
}

.btnLogout:hover {
    opacity: 100%
}

.material-symbols-outlined {
    color: #fff;
    margin-right: 5%;
    margin-bottom: 5%
}

.sltsvg {
    width: 50%
}