body{
    min-width: 300px;
    max-width: 100%;
    min-height: 400px;
}

label {
    color : #ece4e4;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.form-control {
    background-color: #262A34;
    width: 100%;
    padding-top: 10px;
    margin: 8px 0;
    border: none;
    color: white;
}

.form-control:focus{
    background-color: #2e323b;
    color: white;
}

h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

p{
    color: white;
    font-size: 10px;
    text-align: center;
    opacity: 80%;
}

button {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.vertical-center {
    height: 100%;
    display: flex;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control::placeholder{
    color: #ece4e4;
    opacity: 50%;
    font-size: 80%;
}

