#root {
    padding: 1.5rem;
    background: #181824;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4936D2;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1DB5E9;
}